

 :root{
    --primary-text-color:#212121;
    --accent-color:#2196F3;
    --secondary-text-color:#757575;
    --primary-white-color: #FFFFFF;
    --logo-primary-color:#000000;
    --hero-background-color:#2F303A;
    --button-focus-color: #188CE8;
    --button-second-color: #F5F4FA;
    --body-background-color: #F5F5F5;
    --hero-background-color:#C4C4C4

    /* flex параметри для сітки*/
    --items:3;
    --indent:30px;
    }
    /* flex pics set */
    .pic-item{flex-basis: calc((100%- var(--indent)* (var(--items)-1))/var(--items));}
  ul {
     list-style: none;
     padding: 0;
     margin: 0;
     }
   a {text-decoration: none;
      color: inherit;}
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {margin: 0;}
   p {margin: 0;}
   address {font-style: normal;}
   button {
      font-family: inherit;
      padding: 0;
      margin: 0;}
   img {
      display: block;
      max-width: 100%;
      height: auto;}

 body{ background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;}

    .container{ 
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        padding: 0 15px;
        width: 100%;}

    .section{ padding-top: 94px;
    padding-bottom: 94px;
   margin: 0px;}

 /* header */
 .header{ background-color: var(--primary-white-color);
   border-bottom: 1px solid #ececec}

 /* Logo */
 .logo{font-family:  Raleway, sans-serif ;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;}
 .logo-web{ color: var(--accent-color);
  }

 .logo-studio.primary{ color: var(--logo-primary-color)
  }
.logo-studio.secondary{color: var(--primary-white-color);}

 /* Nav */
 .main-nav{
   display: flex;
   align-items: center;
}
.nav{
   display: flex;
   align-items: center;
}
 .site-nav{
   margin-left: 93px;
 }
 .site-nav .item{
   align-self: center;
 }
 .site-nav.list{
   display: flex;
 }
 .site-nav .item+.item{ margin-left: 50px;}

 .site-nav .link{ color: var(--primary-text-color) ; 
   text-decoration:none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   padding-top: 32px;
   padding-bottom: 32px;
   display: block;}

 .site-nav .link:hover,
 .site-nav .link:focus {
    color: var(--accent-color);}

 .site-nav .link.current{ color: var(--accent-color);
   padding-top: 32px;
   padding-bottom: 32px;}

 .contact-nav .link{ color: var(--secondary-text-color) ; text-decoration:none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;}

 .contact-nav .link:hover,
 .contact-nav .link:focus {color: var(--accent-color);}

.contact-nav{margin-bottom: 0px;
display: flex;
margin-left: auto;}

.contact-nav .item+ .item{ margin-left: 50px;}
.email-svg{justify-self: baseline;
  color: rgba(117, 117, 117, 1);
  background-color: rgba(255, 255, 255, 1);
  align-self: center;
  margin-right: 10px;
  text-align: center;
  justify-content: center;}
  .email-svg{fill: currentColor;}
  .email-svg:hover,
  .email-svg:focus{ color: var(--accent-color);
  background-color: var(--primary-white-color);}

 /* hero */
 .hero{ 
   text-align: center;
   }
  .hero-wrapper{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)) no-repeat, url('../images/hero.jpg'), rgba(196, 196, 196, 1);
    background-size: cover cover;
    padding-top: 200px;
    padding-bottom: 210px;
  }
 .hero-title{ 
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
   }
   .main-title{
      max-width: 700px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

   }
/* button */
.button{
    border-radius: 4px;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    cursor: pointer;
    border: none;

}
.button.primary{
padding: 10px 32px;
min-width: 216px;
color: var(--primary-white-color);
background-color: var(--accent-color) ;
font-weight: 700;
font-size: 16px;
line-height: 1.86;
letter-spacing: 0.06em;
text-align: center;
}
.button.primary:hover,
.button.primary:focus{ background: var(--button-focus-color) ;}

.button.secondary{ display: inline-block;
    min-height: 38px ;
padding: 6px 22px;
color: var(--primary-text-color);
background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  display: inline-block;
  min-height: 38px;
  text-align: center;
  border-color: transparent;
  margin-left: 8px;

}
.button.secondary:hover,
.button.secondary:focus{
   color: #ffffff;
   background-color: rgba(33, 150, 243, 1);
   border-color: rgba(33, 150, 243, 1);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-list{letter-spacing: 0.03em;
border-radius: 4px;
margin-bottom: 50px;
text-align: center;
display: flex;
justify-content: center;}

 /* sections */
 .section-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;

   margin-bottom: 50px;
   margin-right: 30px;}

  .icon{display: flex;
    width: 270px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 30px;
    justify-content: center;
    align-self: center;
  padding-top: 30px;}

 /* feature переваги */
 .feature-list .subtitle {
   color: var(--primary-text-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
 }
 .feature-list p {
   margin-top: 10px;
 }
 
 .feature-list {
   display: flex;
 }
 .feature-list .text-p{color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  }
 

 /* activity друга секція 
 підставлена сітка*/
 .section-activity{ 
padding-bottom: 94px;}

/* команда третя секція */
.section-positions {
   background-color: rgba(245, 244, 250, 1);
   padding-top: 94px;
   padding-bottom: 94px;
 }
 .subtitle{ 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
margin-bottom: 10px;}

.position{ font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
margin-bottom: 0px;
color: rgba(117, 117, 117, 1);}

 .team-card {
   background-color:var(--primary-white-color);
   box-sizing: border-box;
   margin-bottom: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
 }
 .name-card {
  height: 108px;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
 }
 .work-list > .item {
   background-color: #f5f4fa;
   padding-top: 50px;
 
   margin-left: 30px;
 }

 .link-svg{  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: rgba(175, 177, 184, 1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
margin-bottom: 30px;}

.link-svg:hover,
.link-svg:focus {
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
}
.icon-symbol{fill: currentColor;}
 .social-links{ display: flex;
  justify-content: center;
  align-items: center;}

 /* четверта секція Постійні клієнти */

.clients{display: flex;
justify-content: center;
margin-top: 50px;
}

.company + .company {
  margin-left: 30px;
}

.link-company {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: rgba(175, 177, 184, 1);
  background-color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.link-company:hover,
.link-company:focus {
  color: rgba(33, 150, 243, 1);
  background-color: var(--primary-white-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.icon-company {
  fill: currentColor;
  
}
   .pic-set{display: flex;
flex-wrap: wrap;
gap: var(--indent);}

.img.pic-item{
    --items:4;
}
.pic-item .portfolio{--items:9}
      .feature-list.pic-set{ margin-bottom: 94px;}
  
/* .feature-list.positions {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
        }
.feature-list .text.position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 124px;
   } */
   /* .portfolio-titles{ color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;}
    .feature-list .link{ text-decoration: none;}
    .feature-list .text{ 
        font-size: 16px;
        line-height: 1.88;
       }
   .section.positions{ background-color: #F5F4FA;} */

   .pic-set{display: flex;
flex-wrap: wrap;
gap: var(--indent);}

.img.pic-item{
    --items:4;
}
.pic-item .portfolio{--items:9}

      /* portfolio */
      .portfolio-card {
         background: #ffffff;
         
       }
       .portfolio-name {
         border: 1px solid #eeeeee;
         border-top: 0;
         margin-top: 20px;
       }
       
       .flex-container {
         display: flex;
         flex-wrap: wrap;
         width: 1200px;
         
       }
       .portfolio-titles{font-weight: 700;
        font-size: 18px;
        line-height: 2;
        margin-top: 20px;
        margin-left: 24px;}
        .portfolio-name .text{ color: var(--secondary-text-color);
          font-size: 16px;
          line-height: 1.88;
          margin-bottom: 20px;
          margin-top: 4px;
          margin-left: 24px;}
          .portfolio-card:hover,
          .portfolio-card:focus {
            border: 1px solid #eeeeee;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
              1px 4px 6px rgba(0, 0, 0, 0.16);
          }
 /* footer */
 .footer{background-color: rgba(47, 48, 58, 1);
margin-top: 0px;
padding-top: 60px;
padding-bottom: 60px;}

 .footer-nav .adress{color: var(--primary-white-color); text-decoration: none;}
    .footer-nav .adress:hover,
    .footer-nav .adress:focus{color: var(--accent-color);}
.footer-nav .link{color:rgba(255, 255, 255, 0.6); text-decoration: none;}
.footer-nav .link:hover,
.footer-nav .link:focus{color: var(--accent-color);}
.footer-nav.list{ 
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-left: 0;
    padding-top: 20px;
    }
   .contact .adress{margin-bottom: 9px;}
   .contact .mail {margin-bottom:9px;}
    .footer .logo{ margin-bottom: 20px;}

    .join {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
     
    }
    .join-footer {
      display: flex;
    }
    .footer-info {
      display: flex;
      align-items: baseline;
    }
    .main-link {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(255, 255, 255, 0.1);
      margin-right: 10px;
    }
    .footer-link {
      margin-left: 70px;
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
    }
